.flatpickr-time input:hover {
  color: black !important;
}

.form-control[data-error="true"] {
  border-color: red !important ;
}
.upload-file[data-error="true"] {
  border-color: red !important ;
}

.preloader-container {
  /* position: fixed; */
  /* top: 0; */
  /* left: 0; */
  width: 100vh;
  height: 100vh;
  background-color: #fff !important;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.table-row-image {
  width: 60px;
  height: 60px;
  object-fit: contain;
  aspect-ratio: 1/1;
  background-color: #dbdbdb;
  border-radius: 10px;
}
.product-detail-image {
  width: 500px;
  height: 500px;
  object-fit: contain;
  aspect-ratio: 1/1;
  background-color: #dbdbdb;
  border-radius: 10px;
}
.post-detail-image {
  width: 500px;
  height: 300px;
  object-fit: contain;
  aspect-ratio: 1/1;
  background-color: #dbdbdb;
  border-radius: 10px;
}
.flatpickr-day.selected {
  background-color: #00b56f !important;
  background: #00b56f !important;
}
@media (max-width: 768px) {
  .fc .fc-toolbar {
    display: block !important;
    flex-direction: column !important;
    gap: 0.5rem !important;
  }
}
